@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}




body {
    font-family: 'Noto Sans', sans-serif;
}

/* navbar */
.navbar {
    background-color: #FFF;
}

.navbar-toggler {
    border: none;
}

.logo-img {
    width: 100%;
}

/* main-section */
#main-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f9ff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.main-btn-container {
    display: flex;
    justify-content: flex-start;
}

.main-btn-container a {
    margin: 20px;
}


/* project-section */
#project-section {
    height: 90ch;
}

.project-li {
    color: #0a416a;
    font-weight: 500;
}

.project-overview-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-btn-container {
    display: flex;
    justify-content: flex-end;
}

/* aboutus-section */
#aboutus-section {
    height: 100vh;
    background-color: #0a416a;
}

