/*****************
CSS principal
******************/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}

body {
    font-family: 'Noto Sans', sans-serif;
}

/* navbar */
.navbar {
    background-color: #FFF;
}

.navbar-toggler {
    border: none;
}

.logo-img {
    width: 100%;
}

/* main-section */
#main-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f9ff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.main-btn-container {
    display: flex;
    justify-content: flex-start;
}

.main-btn-container a {
    margin: 20px;
}


/* project-section */
#project-section {
    height: 90ch;
}

.project-li {
    color: #0a416a;
    font-weight: 500;
}

.project-overview-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-btn-container {
    display: flex;
    justify-content: flex-end;
}

/* aboutus-section */
#aboutus-section {
    height: 80vh;
    background-color: #f1f9ff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.folder {
    width: 90%;
    height: 350px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    background-color: #F2CF65;
    color: #222;
    border-radius: 0 20px 20px 20px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
    bottom: -320px;
    transition: all 0.5s ease-in-out;
}

.folder:before {
    content: 'EQUIPO';
    width: 30%;
    height: 2em;
    border-radius: 0 20px 0 0;
    background-color: #F2B000;
    border-bottom: 3px solid #FFE8A2;
    color: #FFF;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: -30px;
    left: 0px;
}

.folder:hover {
    bottom: -50px;
}

/* contact-section */
#contact-section {
    height: max-content;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* desktop view */
@media screen and (max-width: 992px) {
    .scripsi-nav {
        position: sticky;
    }

    .main-btn-container {
        flex-direction: column;
    }

    .logo-img {
        display: none;
    }

    #project-section {
        height: 100ch;
    }
}

/* mobile view */
@media screen and (max-width: 768px) {

    .scripsi-h1,
    .scripsi-h2,
    .scripsi-h3,
    .scripsi-h4 {
        max-width: none;
        text-align: center;
    }

    .scripsi-p {
        max-width: none;
        text-align: center;
        margin: 1em 0 0 0;
        font-size: 1em;
    }

    .project-overview-title {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .project-ul {
        padding: 0;
    }

    .project-ul li {
        margin-bottom: 1em;
    }

    .project-li {
        margin: 0;
        list-style: none;
        text-align: center;
    }

    #aboutus-section {
        align-items: center;
        overflow: visible;
        height: 100vh;
    }

    .folder {
        height: max-content;
        top: 0;
    }
}

@media screen and (max-width: 375px) {
    .scripsi-p {
        font-size: 14px;
    }

    .scripsi-span {
        font-size: 14px;
    }

    #aboutus-section {
        height: 110vh;
    }

    .folder {
        width: 100%;
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #FFF;
    }

    .navbar {
        background-color: #000;
    }

    .navbar-toggler {
        border: none;
    }

    .logo-img {
        width: 100%;
    }

    #main-section {
        background-color: #333;
    }

    .project-li {
        color: #FFF;
    }

    #aboutus-section {
        background-color: #333;
    }

    #contact-section {
        background-color: #000;
    }

    .folder {
        background-color: #555;
        color: #FFF;
    }

    .folder::before {
        background-color: rgb(255, 255, 255);
        border-bottom: 3px solid #888;
        color: #000;
    }
}