/*****************
Acá van clases y propiedades que son comunes entre algunos elementos
******************/

.scripsi-nav {
    font-family: 'Oleo Script', cursive;
    font-size: 2em;
    position: absolute;
}

.scripsi-nav:hover {
    background: linear-gradient(90deg, #0a416a 0%, #1688ab 0%, #076d96 30%, #39a3a2 70%, #51b59a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav a {
    color: #0a416a;
}

.navbar-nav a:hover {
    color: #39a3a2;
}

.scripsi-h1 {
    font-weight: 800;
    font-size: 3.5em;
    background: linear-gradient(90deg, #0a416a 0%, #1688ab 0%, #076d96 30%, #39a3a2 70%, #51b59a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: fit-content;
}

.scripsi-h2 {
    font-weight: 600;
    font-size: 3em;
    background: linear-gradient(90deg, #0a416a 0%, #1688ab 0%, #076d96 30%, #39a3a2 70%, #51b59a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: fit-content;
}

.scripsi-h3 {
    font-weight: 500;
    font-size: 2.2em;
    color: #0a416a;
}

.scripsi-h4 {
    font-weight: 500;
    font-size: 1.5em;
    color: #0a416a;
}

.scripsi-p {
    font-size: 1.3em;
    font-weight: 300;
    color: #0a416a;
}

.scripsi-span {
    font-weight: 300;
    color: #0a416a;
}

.scripsi-multicolor-text {
    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% {
        color: #000;
    }

    25% {
        color: #1688ab;
    }

    50% {
        color: #076d96;
    }

    75% {
        color: #39a3a2;
    }

    95% {
        color: #51b59a;
    }

    100% {
        color: #000;
    }
}

a {
    color: #1688ab;
}

a:hover {
    color: #39a3a2;
}

a:active {
    color: #076d96;
}

.scripsi-btn {
    background-color: #0a416a;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.scripsi-btn:hover {
    background-color: #51b59a;
    color: #FFF;
}

.scripsi-btn-secondary {
    border: 1px solid #39a3a2;
    color: #39a3a2;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.scripsi-btn-secondary:hover {
    background-color: #51b59a;
    border: 1px solid #51b59a;
}

.scripsi-label {
    font-size: 1.3em;
    font-weight: 600;
    color: #0a416a;
}

.scripsi-input {
    border: 1px solid #39a3a2;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: 300;
    color: #0a416a;
    transition: all 0.2s ease-in-out;
}

.scripsi-input:focus {
    border: 1px solid #51b59a;
}

.scripsi-textarea {
    border: 1px solid #39a3a2;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: 300;
    color: #0a416a;
    transition: all 0.2s ease-in-out;
}

.scripsi-fill-down {
    position: relative;
    overflow: hidden;
}

.scripsi-fill-down::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ffffff63;
    transition: 0.3s ease-in-out;
}

.scripsi-fill-down:hover::before {
    height: 100%;
}

.scripsi-fill-down:hover {
    color: #ffffff;
}

.scripsi-scale {
    transition: all 0.2s ease-in-out;
}

.scripsi-scale:hover {
    transform: scale(1.05);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    .scripsi-nav {
        color: #fff;
    }

    .navbar-nav a {
        color: #fff;
    }

    .navbar-nav a:hover {
        color: #39a3a2;
    }

    .scripsi-h3 {
        color: #fff;
    }

    .scripsi-h4 {
        color: #fff;
    }

    .scripsi-p {
        color: #d7d7d7;
    }

    .scripsi-span {
        color: #fff;
    }

    .scripsi-span a {
        color: #FFF;
    }

    .scripsi-span a:hover {
        color: #39a3a2;
    }

    .scripsi-input {
        background-color: #222;
        color: #ffffff80;
    }

    .scripsi-input:focus {
        border: 1px solid #51b59a;
        background-color: #222;
        color: #FFF;
    }

    .scripsi-textarea {
        background-color: #222;
        color: #ffffff80;
    }

    .scripsi-textarea:focus {
        border: 1px solid #51b59a;
        background-color: #222;
        color: #FFF;
    }

    .scripsi-btn {
        background-color: #51b59a;
    }

    .scripsi-btn:hover {
        background-color: #0a416a;
    }
}